.algorithm-picker{
  border: 3px solid pink;
}

.initial-data{
  border: 3px solid lightgreen;
}

.algorithm-steps{
  border: 3px solid goldenrod;
}

#processedData{
  border: 2px solid black;
}

.oneline{
  // display: flex;
  // flex-flow: row;
  // align-content: space-between;
}
